.carta{
    width: 500px;
    height: 400px;
display: flex;
margin: 20px auto;
background-color: red;
 overflow: hidden;   
}

.lado{
    width: 50%;
    display: flex;
}

.izquierdo{
display: flex;
    background-color: blue;
}