.carta{
    width: 500px;
    height: 400px;
display: flex;
margin: 20px auto;
background-color: red;
 overflow: hidden;   
}

.lado{
    width: 50%;                  /* 2 columnas iguales */
    display: flex;
    align-items: center;
    justify-content: center;
}

.izquierdo{
display: flex;
    background-color: blue;
}

.