.carta{
    width: 700px;
    height: 400px;
display: flex;
margin: 20px auto;
border-radius: 10%;
border: 1px solid rgb(0, 0, 0);
 overflow: hidden;   
}

.lado{
    width: 50%;                 
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.izquierdo{
display: flex;
    background-color: rgb(255, 255, 255);
}

.derecho{

    background-color: hsl(202, 55%, 16%);
    color: white;
}

.resultado{
    display: none;
}