.carta{
    width: 700px;
    height: 700px;
display: flex;
margin: 20px auto;
border-radius: 3%;
border: 1px solid rgb(0, 0, 0);
 overflow: hidden;   
}

.lado{
            width: 50%; 
    display: flex;
    flex-direction: column;
}

.izquierdo{
display: flex;
    background-color: rgb(202, 49, 49);
}

.derecho{

    background-color: hsl(202, 55%, 16%);
    color: white;
}

.resultado{
    display: none;
}

a{
   position: relative;
    top: -30px;
    left: 270px;
    }